body {
    color: rgb(0, 255, 221);
    background-color: rgb(28, 31, 34);
}
#title {
    text-align: center;
    margin: 30px;
    font-size: 50pt;
    background: linear-gradient(rgb(106, 153, 255), rgb(0, 255, 221));
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: serif;
}
p {
    margin-left: 2%;
}
h2 {
    margin-left: 1%;
    color: lightblue;
}
.TCA {
    color: lightcoral;
}
/* リストの先頭の丸ポチをカスタマイズするやつ */
ul {
    list-style: none;
}
li::before {
    content: "";
    width: 0.5em;
    height: 0.5em;
    display: inline-block;
    background-color: rgb(106, 153, 255);
    border-radius: 30%;
    position: relative;
    top: -1px;
    margin-right: 8px;
}
/* ここから下はリンクの装飾 */
a:link {
    color: cornflowerblue;
}
a:visited {
    color: orchid;
}
a:hover {
    color: darkkhaki;
}