---

import BaseHead from '../../components/BaseHead.astro';
import Footer from '../../components/Footer.astro';
import Header from '../../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../../consts';
import '../../styles/style_achi.css';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
<main>
  <h2 class="midashi_achi">活動実績</h2>
  <section>
    <ul class="achi_list">
      <li><a href="/achievements/2024">2024年度</a></li>
      <li><a href="/achievements/2023">2023年度</a></li>
    </ul>
  </section>
</main>
<Footer />